.main-container
  %ul.accordion-tabs-minimal
    %li.tab-header-and-content
      %a.tab-link.is-active{:href => "#"} What is SozoGo?
      .tab-content
        %p SozoGo is a website that seeks to unite the Church in love and action by giving you the opportunity to volunteer and make the difference you know you were made for. Churches and Christian organizations can make a profile and post volunteering events. Volunteers can then find these events and discover where they would like to serve, searching by their own personal interests, skills, and other criteria. Anyone and everyone can join for free and volunteer today! Plus, earn rewards and badges for volunteering!
        %p.title What does it mean?
        %p Sozo in Greek can be translated in three ways primarily: "saved, healed, or delivered." Part of the vision behind SozoGo is to see those who have been saved, healed, and/or delivered GOING out and helping to save, heal, and deliver others as well. So let's go! SozoGo.
    %li.tab-header-and-content
      %a.tab-link{:href => "#"} Meet our Team
      .tab-content
        .team-member 
          .member-name.title Luke Simpson
          .member-title President, CEO
          .member-email LukeOSimpson@gmail.com
          .member-number 314-825-8376
          .member-bio.lower-border Luke graduated from Wheaton College in 2013 with a bachelor’s degree in Biblical and Theological Studies in addition to minors in Economics and Spanish. President and CEO of this nonprofit corporation, he seeks to use his love of God, mixed liberal arts education and unique experience to benefit the world through stirring the Church towards evangelism, unity, and love in action.
        .team-member 
          .member-name.title Joel Brewer
          .member-title VP, CTO
          .member-email JoelBrewer01@gmail.com
          .member-number 314-753-7260
          .member-bio.lower-border Joel graduated from Wheaton College in the Spring of 2013 with a degree in Biology. While in school, he served as a Web Developer and Video Editor for Bastian Voice Institute, utilizing technology to develop creative solutions for increasing productivity and creating a multimedia-rich educational website. He is now the Owner and Lead Web Application Developer for Brewer Digital, collaborating directly with clients to develop exceptional websites/web-applications. As CTO of SozoGo, Joel is responsible for the creation, development, and upkeep of the wonderful website you are now using :).
        .team-member 
          .member-name.title Tanya Brewer
          .member-email TanyaBrewer01@gmail.com
          .member-bio.lower-border Tanya graduated from Wheaton College with a bachelor's degree in Nursing and is currently working towards getting her Master's degree from Vanderbilt as a Pediatric Nurse Practitioner. Tanya's skills are obviously diverse, and here at SozoGo she is at work behind the scenes in multiple ways, including working with Social Media and helping with the creation of SozoGo. In addition to her love of serving others, she always has enough love left over for her wonderful cats and would certainly love to introduce you to them!
        .team-member 
          .member-name.title Matthew Simpson 
          .member-email MatthewSimpson718@gmail.com
          .member-bio.lower-border Matthew is currently a student at the Missouri University of Science and Technology studying to become a Mechanical Engineer. He has been an integral part in the initial stage of creation and development of SozoGo, serves on the board, and works on the Social Media Marketing of SozoGo. Always filled with a desire to help, he is a good fit here with SozoGo. He is also an avid lover of bears, wolves, and country music.

    %li.tab-header-and-content
      %a.tab-link{:href => "#"} Non-Profit Status
      .tab-content
        %p SozoGo is an official 501(c)(3) organization and is funded primarily by donations. This means we depend on people like you to help us keep running in order to continue to change the world! It also means your donations are tax-deductible! Donate today! 
    %li.tab-header-and-content
      %a.tab-link{:href => "#"} Open Sourced Website
      .tab-content
        %p SozoGo is an open-sourced website, allowing everyone to contribute to the development of SozoGo's overall purpose of matching people with volunteer opportunities in order to change the world. It's basically a website for volunteers, that is also built by volunteers! If you know anything about website design you can find our project at www.github.com/SozoGo/SozoGo and make your mark on SozoGo. So what are you waiting for!
