%h1 Support our Mission.
.donate-box.center
  %p Donations are tax-deductible and processed securely by PayPal.
  .donate-form
    %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
      %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
      %input{:name => "hosted_button_id", :type => "hidden", :value => "TH9FRV7ZM6SHE"}
      %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif", :type => "image"}
    %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}
%p If you do not wish to donate online, cash and checks can be sent to:
%address
  %span SozoGo
  %span 471 Magna Carta
  %span Saint Louis, MO 63141

%p This organization may accept contributions of: real property; closely held securities; intellectual property such as patents, trademarks, and copyrights; works of music or art; licenses; royalties; automobiles, boats, planes, or other vehicles; or collectibles of any type if said contributions further the purposes of this organization. This organization will not accept donations if any conditions imposed by the donor on the contribution limit this organization’s ability to achieve its purposes or force this organization to conduct activities that are not in furtherance of 501(c)(3) purposes. We will ensure that donations are accepted in accordance with 501(c)(3) regulations and we will properly determine fair market value according to Publication 561. We will not actively solicit such contributions.
%p If you wish to make a donation in one of these forms please contact us: 314-825-8376
