%h1 Are you an organization or a volunteer?
.individual
    = link_to t('am_a_volunteer'), new_volunteer_path, :class => "button"
.organization
    = link_to t('am_an_organization'), new_organization_path, :class => "button"
