.project
  .project-title= link_to project.title, project_path(project)
  .project-date= project.start_date.strftime("%b %d %Y")

  .project-organization-name= project.user.organization_name
  .project-description= truncate(project.description, length: 100)
