- if @project.user == current_user && @project.signups.present?
  %h3.center Volunteers
  %table.tables
    %thead
      %tr
        %th Name
        %th Email
        %th Occupation
        %th Denomination
        %th Age
        %th T shirt size
    %tbody
      - @project.signups.each do |signup|
        %tr
          %td= signup.user.full_name
          %td= signup.user.email
          %td= signup.user.profession.name
          %td
          %td= signup.user.age
          %td
