.attribute, .profession {
  input, label {
    display: inline;
    font-weight: inherit;
  }
}

.time {
  .start-time {
    float: left;
  }
  .end-time, .recurring {
    float: left;
    padding-left: 30px;
  }
}

.volunteers-needed, .focus {
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

.focus {
  padding-left: 30px;
}

.description {
  clear: both;
}

.attributes {
  @include span-columns(5);
}

.professions {
  @include span-columns(7);
}

.users-new {
  .first-name, .last-name {
    @include span-columns(6);
  }
}

.focuses-container, .languages-container {
  @include span-columns(6);
}

.submit { 
  clear: both;
  padding-bottom: 30px;
  text-align: center;
}

.focuses, .languages {
  @include span-columns(6);
  .focus, .language {
    float: none;
    padding: 0;
  }
  input, label {
    display: inline;
    font-weight: inherit;
  }
}
    
.church-fields {
  display: none;
}

.affirm {
  padding-top: 10px;
}

.languages-container, .focuses-container {
  .select2-container {
    width: 100%;
  }
}
