.attribute, .profession {
  input, label {
    display: inline;
    font-weight: inherit;
  }
}

.time {
  .start-time {
    float: left;
  }
  .end-time, .recurring {
    float: left;
    padding-left: 30px;
  }
}

.volunteers-needed, .focus {
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

.focus {
  padding-left: 30px;
}

.description {
  clear: both;
}

.attributes {
  @include span-columns(5);
}

.professions {
  @include span-columns(7);
}

.users-new {
  .first-name, .last-name, .city, .email {
    @include span-columns(6);
  }
}

.submit { 
  clear: both;
  padding-bottom: 30px;
  text-align: center;
}

.focuses {
  @include span-columns(6);
  .focus {
    float: none;
    padding: 0;
  }
  input, label {
    display: inline;
    font-weight: inherit;
  }
}
    
