section.main-container {
  @include outer-container;
}

section.container {
  @include outer-container;
}

section.form {
  @include span-columns(8);
  @include shift(2);
  padding-top: 20px;
}

.center { text-align: center; }

.small-input { width: 100px !important; }

.time select { display: inline; }

.clear { clear: both; }
