.projects-container {
  @include outer-container;
  a {
    color: inherit;
  }
}

.project { 
  @include span-columns(4);
  @include omega(3n);
  height: 300px;
  background-color: $light-gray;
  border-radius: 10px;
  border: 1px solid $border-color;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
  a {
    color: $dark-gray;
  }
  &:hover {
    border: 1px solid $medium-gray;
  }
}

.project-description {
  margin-top: 10px;
}

.project-detail {
  background-color: $light-gray;
  border-radius: 10px;
  border: 1px solid $border-color;
  margin-top: 10px;
  padding: 10px;
  position: relative;

  .project-title {
    //width: 80%;
  }

  #action-form {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
    .upper-right {
      position: relative;
      float: right;
      width: 100px;
      text-align: center;
    }
  }
}

#action-form:first-child {
  margin-left: 10px;
}

.block {
  @include span-columns(3);
  @include omega(4n);
}

.project-volunteer-meter {
  bottom: 10px;
  position: absolute;
  width: 100%;
  padding-right: 20px;
}
